<section>
  <h1>About Me</h1>
  <p>My name is Nathan Williams. I'm a <a href="http://github.com/nathwill">coder</a>, <a href="http://mrandmrswilliams.com/">husband</a>, FOSS evangelist, and all-around cheerful fellow.</p>
  <p>This site is my brain-dump where I keep things for personal reference and in the hopes that some helpful tidbit can be gained by others from my experiences.</p>
  <p>I am a happy <a href="http://careers.yahoo.com/">Yahoo!</a>, and wouldn't trade it for anything.</p>
</section>
