// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
/* nathan's custom stuff */
html { background: #556270 !important; }
body > header { padding-top: 1em; padding-bottom: 1em; }
body > header img { height: 5em; width: 5em; margin-right: 0.5em; }
article header { padding-top: 1em; }
